.gallery{
  display: grid;
  grid-template-rows: 150px 150px 150px 150px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  width: 75%;
  margin: auto;

  .img{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 5;
    vertical-align:middle;
    img{
      display: block;
      height: 100%;
      object-fit: contain;
      margin: auto;
    }
  }

  .item{
    cursor: pointer;
    border: 2px solid transparent;
    background-size: cover;
    background-position: center;
    &:hover{
    border: 2px solid blue;
    }
  }

  @include breakpoint(small){
    width: 100%;
  }

  @include breakpoint(xsmall){
  grid-template-rows: 100px 100px 100px 100px;
    .img{
      img{
        object-fit: cover;
      }
    }
  }
}

